body{
  background-color:rgba(215,199,255,0.69);
  margin-left:auto;
  margin-right:auto;
  width:500px;}

span{
  color: red;
  font-weight:bold;}
h1 {text-align: center;
  font-family: "Lucida Handwritingl",Cursive;
  text-shadow:4px 4px 5px white;
  font-size:50px;
  color:rgb(110,78,189, 0.9);}
img {
  border-radius:50%;
  width:500px;
  height:300px;}
#Mydiv{
  font-family:Papyrus;
  font-size:15pt;
  color:rgb(110,78,189, 0.9);
  border:2px solid rgb(110,78,189, 0.9);
  background-color:rgb(255, 255, 255);
  border-radius:20px;
  padding:20px;}
#othercovertype{
  display:none;
}
#otherlanguage{
  display:none;
}
#otherolanguage{
  display:none;
}