body {
 
 background-color:rgba(210,129,224,0.58)

}
a {
  color: rgb(141,45,165);
  font-size: 30px;

}
h1 {
  color: #8d528d;
  font-size: 50px
}
img{
  position:absolute;
  top: 110px;
  left: 630px;
  width:auto;
  height:100px;
}
div.item {
  min-width: 200px;
  width: 20%;
  height: auto;
  background-color: #8d528d;
  float: left;
  margin: 10px;
  padding: 10px;
  position: relative;
  
}