body{
  background-color:rgba(210,129,224,0.58);
  margin-left:auto;
  margin-right:auto;
  width:500px;
  color: rgb(99, 10, 110);
  
  }}

span{
  color: red;
  font-weight:bold;}
h1 {text-align: center;
  font-family: "Lucida Handwritingl",Cursive;
  text-shadow:2px 2px 5px white;
  font-size:50px;
  color:rgb(148,64,169);}
img {
  border-radius:50%;
  width:500px;
  height:300px;}
#Mydiv{
  font-family:Papyrus;
  font-size:15pt;
  color:rgb(141,45,165);
  border:2px solid rgb(141,45,165);
  background-color:rgb(251, 231, 255);
  border-radius:20px;
  padding:20px;}

#singingDataContainer div.item {
  background-color: rgb(251, 231, 255);
}
#bookDataContainer div.item {
  background-color: rgb(251, 231, 255);
}
